* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue-transparent: rgba(1, 153, 255, 0.2);
    --blue: rgba(1, 153, 255, 1);
    --green: rgba(1, 255, 22, 0.2);
    --green-two: rgb(24, 111, 101);
    --red: rgb(255, 1, 1);
    --white: rgb(255,255,255, 1);
    --grey: rgb(180, 180, 184, 1);
    --yellow: rgb(247, 215, 22, 1);
    --black: rgb(0,0,0);
}

body {
    /* margin: 1rem; */
    padding: 0;
    background-color: var(--black);
    position: relative;
    overflow-x: hidden;
    max-height: fit-content;
}

header {
    min-width: 100vw;
    max-width: 100vw;
    min-height: 8vh;
    max-height: 8vh;
    /* max-height: 20vh; */
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    /* border: solid red 2px; */
    background-color: var(--black);
}

.armazem-logo,
.fa-warehouse  {
    color: var(--white);
    max-width: min-content;
    /* border: solid red 2px; */
    font-size: 1rem;

}

.caisBtn {
    position: absolute;
    top: 8vh;
    right: -100vw;
    transition: 1s;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    justify-content: center;
    margin: 0 auto;
    min-width: 100%;
    max-width: 100vw;
    grid-column: span 2;
}

.caisBtn .btn {
    background-color: var(--green-two);
    padding: 1rem;
    font-size: 0.9rem;
    border: none;
    outline: none;
    color: var(--white);
    max-width: 100%;
}

.show {
    right: 0;
}

/* .btn-light {
    color: var(--white);
    background-color: var(--black);
} */

.logo {
    object-fit: cover;
    width: auto;
    border-radius: 5%;
    max-height: 10vh;
}

.box {
    display: grid;
    gap: 0;
    margin: 2rem auto;
    justify-content: center;
}

form {
    display: grid;
    justify-content: center;
}

.formulario .form-title {
    color: var(--white);
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 1rem;
}

.formulario {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--white);
    font-weight: 600;
    min-width: 90vw;
    max-width: 90vw;
    margin: 8vh auto 2vh auto;
}

input:not(.calculation-box input, .cobre input, .cabo input, [type="radio"]), 
.select-team {
    border: solid 0.1rem var(--green-two);
    min-height: 2rem;
    min-width: 95%;
    border-radius: 0.5rem;
    padding-left: 0.3rem;
}

.clientName {
    text-transform: uppercase;
    font-style: italic;
}

textarea {
    border: solid 0.1rem var(--green-two);
    min-width: 95%;
    height: 20vh;
    resize: vertical;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 0.9rem;
}

.formPrep {
    background-color: var(--green-two);
}

.formPrep label, .formPrep .btn-info {
    color: var(--white)
}

.formCarga {
    background-color: var(--green-two);
    display: none;
}

.formDescarga {
    background-color: var(--green-two);
    display: none;
}


label,  .encomendado{
    font-weight: 700;
}

.btn {
    border: none;
    outline: none;  
    background-color: var(--black);  
}

/* .btn-info {
    margin: 1rem auto;
} */

.fa-print,
.btn-info {
    outline: none;
    border: none;
    background-color: var(--black);
    color: var(--white);
    padding: 0.5rem;
    border-radius: 10%;
    cursor: pointer;
}

.fa-whatsapp {
    display: none;
    color: white;
    outline: 0;
    border: 0;
    font-size: 1.2rem;
}

.buttons {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 2rem;
}

.by {
    max-width: 100vw;
}

.byName {
    color: var(--green-two);
    /* text-transform: uppercase; */
}

a .design {
    text-decoration: none;
    color: var(--white);
}

.by a {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

input[type="date"], select {
    cursor: pointer;
}

/* =========== faltas ============== */

.formFaltas {
    background-color: var(--green-two);
    color: var(--white);
    display: none;
}

.formFaltas div:nth-child(4) {
    display: grid;
    align-items: center;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.formFaltas div:nth-child(4) span{
    grid-column: span 2;
}

.formFaltas div:nth-child(4) div {
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    max-width: 50%;
}

input[type="radio"] {
    size: 0.7rem;
    /* height: 0.1rem; */
}

.ordered-or-not-div label,
.ordered-or-not-div input {
    cursor: pointer;
}

.printMode, .printModePrep, .printModePreIns, .printModeFaltas {
    display: none;
}


.display-none {
    display: none;
}

@media screen and (min-width: 860px) {
    body {
        min-height: 100vh;
    }
    header {
        padding: 0;
        min-height: 8vh;
        margin: 0;
    }

    .fa-warehouse {
        display: none;
    }

    .armazem-logo {
        max-width: min-content;
        position: fixed;
        top: 1vh;
        left: 1vw;
        margin: 3vh auto 3vh auto;

    }

    .caisBtn {
        /* grid-template-columns: repeat(4, 1fr); */
        display: flex;
        gap: 2vw;
        margin: 3vh auto 3vh auto;
        min-width: min-content;
        background-color: transparent;
        right: 5vw;
        top: 0;
    }

    .caisBtn .btn {
        background-color: var(--black);
        border: solid 2px var(--green-two);
        border-radius: 1rem;
    }

    .caisBtn .btn:hover {
        background-color: var(--green-two);
        cursor: pointer;
    }

    .formulario {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        min-width: 80vw;
        max-height: 90vh;
        justify-content: center;
        margin: 16vh auto;
    }

    .formulario .form-title {
        grid-column: span 2;
    }

    textarea {
        width: 100%;
    }

    .textareaDiv {
        grid-column: span 2;
        max-width: 98%;
        max-height: 10%;
    }
    .buttons {
        grid-row-start: 5;
        grid-column: span 2;
    }
}

@media screen and (min-width: 1000px){
    .caisBtn {
        grid-template-columns: repeat(6, 1fr);
        max-width: 80vw;
    }
    .formulario {
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
    }
    .formulario .form-title {
        grid-column: span 3;
    }
    textarea {
        min-width: 98%;
        min-height: 33vh;
        grid-template-columns: 3;
    }
    .textareaDiv {
        grid-column: span 3;
    }
    #obsC, #obsD {
        grid-column: span 3;
        max-width: 95%
    }
    .buttons {
        grid-column-start: 2;
    }
}

@media print {
    header, .caisBtn, .box {
        display: none;
    }
    .printMode, .printModePrep, .printModePreIns, .printModeFaltas {
        display: grid;
        align-items: center;
        gap: 1rem;
        /* atributo abaixo permite que o print mode da carga fique numa pagina
        e o print mode da preparacao fique noutra */
        break-after: page; 
    }
    .printMode h3, .printModeFaltas h3 {
        text-transform: uppercase;
    }
    .list {
        font-size: 10pt;
        margin-top: 3rem;
        text-transform: uppercase;
    }
    .nameAndDate {
        display: flex;
        justify-content: space-between;
        align-content: center;
        border: solid black 0.1rem;
        padding: 0.5rem;
        text-transform: uppercase;
    }
    
    .clientName, .local-print, .date-print, .pat-print, .guia-print, .team-Print {
        font-size: 10pt;
        font-weight: bold;
    }

    .big-container {
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
        margin: 3rem 0 0 0;
        padding: 0;
    }
    .printMode .logo {
        max-height: 8vh;
    }
    .logoToPrint {
      position: fixed;
        bottom: 0;
        right: 0;
    }
    .by {
        position: fixed;
        bottom: 0;
        left: 0;
        color: var(--black);
    }
    .border-div-print {
        border: solid black 0.1rem;
        padding: 2rem;
        min-width: 45vw;
    }

    .printModePrep .border-div-print:nth-child(2) {
        padding-left: 4rem;
    }

    .underline-one {
        display: flex;
        justify-content: center;
        font-size: 12pt;
    }

    .underline-two {
        display: grid;
        justify-content: center;
        font-size: 12pt;
    }

    .fa-arrow-right {
        margin: 0 1rem;
    }
 
    .list-return {
        margin-top: 1rem;
    }

    .carga-list {
        margin-top: 2rem;
    }

    .retorno {
        margin: 0 auto;
        font-size: 10pt;
    }

    .return-data {
        display: grid;
    }

    .print-obs-div, .obs-div-prep {
        margin: 5rem 0;
        display: none;
    }

    .obs-title {
        font-weight: bold;
        font-size: 12pt;
        text-decoration: underline;
    }

    .print-obs {
        font-size: 10pt;
    }

    #faturaPrintPrep {
        text-transform: uppercase;
    }

    .printModePrep h3{
        margin-top: 20pt;
    }
}