* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue-transparent: rgba(1, 153, 255, 0.2);
    --blue: rgba(1, 153, 255, 1);
    --green: rgba(1, 255, 22, 0.2);
    --green-two: rgb(24, 111, 101);
    --red: rgb(255, 1, 1, 0.2);
    --white: rgb(255,255,255, 1);
    --grey: rgb(180, 180, 184, 0.5);
    --yellow: rgb(247, 215, 22, 1);
    --black: rgb(0,0,0);
}

body {
    margin: 1rem;
    padding: 0;
    background-color: var(--blue-transparent);
}

header {
    width: auto;
    max-height: 20vh;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

/* h2 {
    text-transform: uppercase;
    display: none;
} */

.logo {
    object-fit: cover;
    width: auto;
    border-radius: 5%;
    max-height: 10vh;
}

.box {
    display: grid;
    gap: 0;
    margin: 2rem auto;
    justify-content: center;
}

.caisBtn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    justify-content: center;
    margin: 0 auto 3rem auto;
}

.btn-light {
    color: var(--white);
    background-color: var(--black);
}

.formulario {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    color: blue;
    font-weight: 600;

}

input:not(.cobre input, .cabo input, [type="radio"]), .select-team {
    border: solid 0.1rem var(--blue);
    min-height: 2rem;
    min-width: 95%;
    border-radius: 0.5rem;
    padding-left: 0.2rem;
}

.clientName {
    text-transform: uppercase;
    font-style: italic;
}

textarea {
    border: solid 0.1rem var(--blue);
    min-width: 95%;
    height: 20vh;
    resize: vertical;
    border-radius: 0.5rem;
    padding-left: 0.2rem;
}

.formPrep {
    background-color: var(--blue);
}

.formPrep label, .formPrep .btn-info {
    color: var(--white)
}

.formCarga {
    background-color: var(--green);
    display: none;
}

.formDescarga {
    background-color: var(--red);
    display: none;
}

.formFaltas {
    background-color: var(--black);
    color: var(--white);
    display: none;
}

label,  .encomendado{
    font-weight: 700;
}

.btn {
    padding: 0.2rem auto;
}

.btn-info {
    margin: 1rem auto;
}

.fa-print {
    outline: 0;
    border: 0;
}

.fa-whatsapp {
    color: white;
    outline: 0;
    border: 0;
    font-size: 1.2rem;
}

.buttons {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 2rem;
}

.byName {
    color: var(--red);
    text-transform: uppercase;
}

a .design {
    text-decoration: none;
    color: var(--white);
}

.by a {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    align-content: center;
    text-decoration: none;
}

/* =========== faltas ============== */

.formFaltas div:nth-child(3) {
    display: grid;
    align-items: center;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.formFaltas div:nth-child(3) span{
    grid-column: span 2;
}

.formFaltas div:nth-child(3) div {
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    max-width: 50%;
}

input[type="radio"] {
    size: 0.7rem;
    /* height: 0.1rem; */
}

.printMode, .printModePrep, .printModePreIns, .printModeFaltas {
    display: none;
}


@media screen and (min-width: 860px) {
    body {
        margin: 1rem 5rem;
        min-height: 100vh;
    }
    header {
        min-height: 10vh;
    }

    .caisBtn {
        grid-template-columns: repeat(4, 1fr);
        max-width: 80vw;
        justify-content: center;
    }

    .formulario {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        min-width: 80vw;
        max-height: 90vh;
        justify-content: center;
    }

    textarea {
        width: 100%;
    }

    .textareaDiv {
        grid-column: span 2;
        max-width: 98%;
        max-height: 10%;
    }
    .buttons {
        grid-row-start: 5;
        grid-column: span 2;
    }
}

@media screen and (min-width: 1000px){
    .caisBtn {
        grid-template-columns: repeat(6, 1fr);
        max-width: 80vw;
    }
    .formulario {
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
    }
    textarea {
        min-width: 98%;
        min-height: 33vh;
        grid-template-columns: 3;
    }
    .textareaDiv {
        grid-column: span 3;
    }
    #obsC, #obsD {
        grid-column: span 3;
        max-width: 95%
    }
    .buttons {
        grid-column-start: 2;
    }
}

@media print {
    header, .caisBtn, .box {
        display: none;
    }
    .printMode, .printModePrep, .printModePreIns, .printModeFaltas {
        display: grid;
        align-items: center;
        gap: 1rem;
        /* atributo abaixo permite que o print mode da carga fique numa pagina
        e o print mode da preparacao fique noutra */
        break-after: page; 
    }
    .printMode h3, .printModeFaltas h3 {
        text-transform: uppercase;
    }
    .list {
        font-size: 10pt;
        margin-top: 3rem;
        text-transform: uppercase;
    }
    .nameAndDate {
        display: flex;
        justify-content: space-between;
        align-content: center;
        border: solid black 0.1rem;
        padding: 0.5rem;
        text-transform: uppercase;
    }
    
    .clientName, .local-print, .date-print, .pat-print, .guia-print, .team-Print {
        font-size: 10pt;
        font-weight: bold;
    }

    .big-container {
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
        margin: 3rem 0 0 0;
        padding: 0;
    }
    .printMode .logo {
        max-height: 8vh;
    }
    .logoToPrint {
        position: fixed;
        bottom: 0;
        right: 0;
    }
    .by {
        position: fixed;
        bottom: 0;
        left: 0;
        color: var(--black);
    }
    .border-div-print {
        border: solid black 0.1rem;
        padding: 2rem;
        min-width: 45vw;
    }

    .printModePrep .border-div-print:nth-child(2) {
        padding-left: 4rem;
    }

    .underline-one {
        display: flex;
        justify-content: center;
        font-size: 12pt;
    }

    .underline-two {
        display: grid;
        justify-content: center;
        font-size: 12pt;
    }

    .fa-arrow-right {
        margin: 0 1rem;
    }
 
    .list-return {
        margin-top: 1rem;
    }

    .carga-list {
        margin-top: 2rem;
    }

    .retorno {
        margin: 0 auto;
        font-size: 10pt;
    }

    .return-data {
        display: grid;
    }

    .print-obs-div, .obs-div-prep {
        margin: 5rem 0;
        display: none;
    }

    .obs-title {
        font-weight: bold;
        font-size: 12pt;
        text-decoration: underline;
    }

    .print-obs {
        font-size: 10pt;
    }

    #faturaPrintPrep {
        text-transform: uppercase;
    }

    .printModePrep h3{
        margin-top: 20pt;
    }
}