* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.success-body {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: grid;
    /* align-items: center; */
    justify-content: center;
    gap: 0;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
    /* grid-template-columns: repeat(1, 1fr); */
    /* border: solid 0.5rem black; */
    border-radius: 10%;
    gap: 3rem;
    /* padding: 2rem; */
    max-width: 100vw;
}

.success {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white);
}

.back-btn {
    background-color: var(--green-two);
    padding: 0.5rem;
    font-size: 1rem;
    outline: 0;
    border: 0;
    border-radius: 10%;
    font-weight: 700;
    cursor: pointer;
}