* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.calcDivTwo {
    margin-top: 10vh;
}

.calculation, .calcDivTwo {
    margin: 8vh 1vw;
    max-width: 100vw;
    display: none;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    max-height: fit-content;
}

.calculation h2, .calcDivTwo h2 {
    margin: 0 auto 3vh auto;
    font-weight: 700;
    color: var(--green-two);
    grid-column: span 2;
    font-size: 1rem;
    text-transform: uppercase;

}

.calculation-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.2rem;
    justify-content: center;
    align-content: center;
    padding: 0.5rem ;
    background-color: var(--grey);
    border-radius: 1rem;
    min-height: 15vh;
    max-height: 20vh;
    max-width: fit-content;

}

.calculation-box h2 {
    grid-column: span 3;
    margin: 0.2rem auto;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
    color: var(--black);
}

.calculation-box h3 {
    grid-column: span 3;
    margin: 0 auto;
    font-size: 0.8rem;
    padding: 0;
}

.calculation-box input{
    font-size: 1rem;
    grid-column-start: 1;
    grid-column: span 2;
    min-width: 95%;
    border: solid 0.1rem var(--black);
    font-weight: 600;
    min-height: 2rem;
    border-radius: 0.5rem;
    padding: 0.2rem 1rem 0.2rem 35%;
}

.calculation-box input::placeholder {
    color: var(--grey);
}

.calculation-box input::-webkit-inner-spin-button {
    appearance: none;
}


.calculation-box button {
    grid-row-start: 2;
    grid-column-start: 3;
    /* margin: auto; */
    outline: none;
    border: none;
    background-color: var(--black);
    color: var(--white);
    padding: 0.5rem;
    border-radius: 10%;
}

.calculation-box button:hover {
    cursor: pointer;
    background-color: var(--white);
    color: var(--black);
}

.hiddenKg, .hiddenMt {
    display: none;

}

@media screen and (max-width: 345px) {
    .calculation {
        margin: 5vh auto;
    }

    .calculation-box {
        grid-template-columns: repeat(1,1fr);
        margin: 0 auto;
        align-content: center;
    }
    .calculation-box h3 {
        grid-column: span 1;
    }
    .calculation-box button {
        grid-row-start: 3;
        grid-column-start: 1;
        max-width: min-content;
        margin: 1vh auto 0 auto;
    }
    .calculation-box input{
        font-size: 1rem;
        grid-column-start: 1;
        grid-column: span 1;
    }    
    .calculation, .calcDivTwo {
        grid-template-columns: repeat(1,1fr);
    }
    .calculation h2, .calcDivTwo h2 {
        grid-column: span 1;
        font-size: 0.8rem;
    }
}


@media screen and (min-width: 550px) {
    .calculation, .calcDivTwo {
        grid-template-columns: repeat(3,1fr);
    }
    .calculation h2, .calcDivTwo h2 {
        grid-column: span 3;
        font-size: 0.8rem;
    }
}


@media screen and (min-width: 650px) {
    .calculation, .calcDivTwo {
        margin: 15vh 5vw;
        grid-template-columns: repeat(4,1fr);

    }
    .calculation h2, .calcDivTwo h2 {
        grid-column: span 4;
        font-size: 1rem;
    }
    .calculation-box {
        min-height: 8rem;
        align-content: flex-start;
    }

    .meters {
        color: var(--white);
    }

    
}

@media screen and (min-width: 990px) {
    .calculation, .calcDivTwo {
        grid-template-columns: repeat(5,1fr);
    }
    .calculation h2, .calcDivTwo h2 {
        grid-column: span 5;
        font-size: 1rem;
    }
    .calculation-box {
        min-height: 8rem;
        align-content: center;
    }
    .calculation-box h2 {
        font-size: 1rem;
    }
    .calculation-box h3 {
        margin: 1rem auto 0 auto;
    }
   
}

@media screen and (min-width: 1200px){
    .calculation, .calcDivTwo {
        grid-template-columns: repeat(6,1fr);

    }
    .calculation h2, .calcDivTwo h2 {
        grid-column: span 6;
        font-size: 1.3rem;
    }
    .calculation-box h2 {
        font-size: 0.8rem;
    }
    .calculation-box {
        min-height: 7rem;
        align-content: flex-start;
    }
    .calculation-box input {
        max-width: 40%;
    }
}

