* {
    box-sizing: border-box;
}

.calculation {
    max-width: 90vw;
    display: none;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    gap: 1rem;
    align-items: center;
    /* background-color: antiquewhite; */
}

.calculation h2 {
    margin: 0 auto;
    font-weight: 700;
    color: black;
}

.calculation-box {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--grey);
    border-radius: 1rem;
}

.calculation-box h2 {
    grid-column: span 3;
    min-height: 2rem;
    /* min-width: 50%; */
    margin: 0 auto;
    font-weight: bold;
    text-transform: uppercase;
}

.calculation-box h3 {
    grid-column: span 3;
    margin: 0.5rem auto;
}

.calculation-box button {
    grid-row-start: 2;
    grid-column-start: 3;
}

.calculation-box input {
    grid-column-start: 1;
}

.hidden {
    display: none;
}

@media screen and (min-width: 650px) {
    .calculation {
        grid-template-columns: repeat(3,1fr);
    }
    .calculation h2 {
        grid-column: span 3;
    }
}

@media screen and (min-width: 1000px){
    .calculation {
        grid-template-columns: repeat(4,1fr);
    }
    .calculation h2 {
        grid-column: span 4;
    }
}
